@import url("reset.css");

/* core */

body {
    background: #151515;
    color: #FFF;
    font-size: 20px;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
    line-height: 1.4;
}

.page-width {
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

nav {
    font-size: 30px;
}

nav ul {
    display: flex;
    gap: 10px;
}

nav li {
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
}

nav li:hover {
    background-color: #333;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
}

#settings {
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
}

.winner {
    font-size: 40px;
    text-align: center;
}

.guessing {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    /* max-height: 2000px; */
}

.guessing>* {
    flex: 1;
}

.guessing .msg.last-words {
    border: 1px solid #DDD;
}

.guessing .msg {
    border: 1px solid transparent;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    background-color: lab(16.1051% -1.18239 -11.7533);
}

.guessing .word-and-distance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 15px 10px;
}

.guessing .word {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.guessing .distance {
    color: #DDD;
}

.guessing .bg {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.guessing .name {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.guessing .last-words .name {
    display: none;
}

.button,
button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
    user-select: none;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: #055c05;
    color: #FFF;
    font-size: 18px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}