#tip-progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tip-progress .bar {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    min-width: 300px;
    position: relative;
    background-color: lab(16.1051% -1.18239 -11.7533);
}

#tip-progress-fill {
    height: 51px;
    width: 50%;
    background: linear-gradient(90deg, rgba(0, 128, 0, 0.5) 0%, rgba(0, 128, 0, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#tip-progress .bulb {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%) rotate(-10deg);
    font-size: 70px;
}

#tip-progress .label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tip-progress .count {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    padding: 4px 10px 2px;
    background-color: #080808d5;
    /* background: linear-gradient(90deg, rgb(10, 10, 10) 0%, rgb(15, 15, 15) 100%); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

#tip-progress .sep {
    display: none;
}