name: Deploy to FTP (only main)

# Запускается только при push в ветку main
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy website to FTP
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: FTP deploy (SamKirkland)
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ${{ secrets.SFTP_HOST }}        # адрес FTP-сервера
          username: ${{ secrets.SFTP_USER }}  # логин
          password: ${{ secrets.SFTP_PASSWORD }}  # пароль
          port: 2222                               # порт (обычно 21); можно менять
          protocol: ftps                          # "ftp" или "ftps"
          # local-dir: ./public                    # папка в репозитории, которую качать (поменяйте под вашу сборку)
          server-dir: /slovotron.fra3a.ru               # путь на сервере (поменяйте под хостинг)
          # другие опции (see action README) можно добавить здесь
